<div class="container mx-auto p-6" data-controller="reset-filter">
    <%= form_with(url: rooms_path, method: :get, local: true, 
        class: "p-0 w-full flex flex-wrap", 
        data: { testid: "filter-user-list-room-form", reset_filter_target: "form" }) do |form| %>
        <div class="flex justify-between items-center flex-wrap w-full">
            <%= render "shared/typography", heading: "Meeting Rooms" %>
            <div class="w-full md:w-2/3 flex-shrink-0">
                    <%= render "shared/search_input", form: form, field: :name, value: params[:name] %>
            </div>
        </div>
        <div class="flex gap-4 w-full h-full items-stretch">
            <div class="flex flex-col gap-4 h-auto "> 
                <div class="flex flex-col rounded-md bg-white p-6 pb-2 dark:bg-slate-800 dark:text-white shadow-md md:w-[300px]">
                    <div class="flex flex-col gap-2">
                        <%= render 'shared/date_time_field', form: form, field: :start_date, field_type: :date_field, value: params[:start_date].presence, label: "Start date", data: { reset_filter_target:"startDateField" } %>
                        <%= render 'shared/date_time_field', form: form, field: :end_date, field_type: :date_field, value: params[:end_date].presence, label: "End date", data: { reset_filter_target:"endDateField" } %>
                    </div>

                    <div class="flex flex-col gap-2">
                        <%= render 'shared/date_time_field', form: form, field: :start_time, field_type: :time_field, value: params[:start_time], label: "Start time" %>
                        <%= render 'shared/date_time_field', form: form, field: :end_time, field_type: :time_field, value: params[:end_time], label: "End time" %>
                    </div>
                </div>
                <%= render "shared/slider", field: "capacity", id: "capacity", label: "Capacity", maximum: @maximum_capacity, unit: "people" %>
                <%= render "shared/multi_checkboxes", form: form, id: "amenities", label: "Amenities", field: "amenities", options: @amenities %>
                <%= render "shared/multi_checkboxes", form: form, id: "room_status", label: "Room Status", field: "room_status", options: @room_status %>
                <div class="flex justify-start">
                    <button type="button" data-action="reset-filter#reset" class="btn btn-black">Reset Filters</button>
                </div>
            </div>
            <div class="flex flex-col rounded-md gap-2 bg-white px-6 pb-6 pt-2 dark:bg-slate-800 dark:text-white shadow-md w-full h-full">
                <%= render "user/rooms/component/table", room: @room %>
                <div class="mt-4">
                    <%= form_with(url: rooms_path, method: :get, local: true) do |f| %>
                        <%= render "shared/pagination", 
                            collection: @rooms, 
                            prefix: "room", 
                            path_helper: ->(page, params) { rooms_path(params) },
                            show_per_page: true,
                            per_page_options: [5, 10, 25, 50, 100] %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>