<div class="rounded-lg bg-white overflow-hidden w-full shadow-md p-4">
    <div class="flex gap-2 md:gap-0 h-auto md:h-14 w-full flex-wrap justify-between items-center">
        <div class="mb-2">
            <%= render "shared/typography", sub_heading: "Select Details" %>
        </div>
        <div class="w-full md:w-1/3 flex-shrink-0">
            <%= render "shared/combobox", 
                form: form, 
                field: :reservation_type, 
                collection: Reservation.reservation_types.keys.map { |k| [k.humanize.downcase, k] }, 
                default_value: Reservation.reservation_types[:meeting].to_s.downcase, 
                search_active: false, 
                label: "" %>
        </div>
    </div>
    <%= form.hidden_field :room_id, value: @room&.id, id: "room_id_field", data: { room_selector_target: "roomIdField" } %>
    <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
            <%= form.label :start_date, "Start Date", class: "form-label" %>
            <div class="relative">
                <%= form.date_field :start_date, 
                    class: input_class(@reservation, :start_date), 
                    value: params[:start_date] || @reservation.start_date || Date.today,
                    data: { room_selector_target: "startDateField" } %>
                <%= error_icon(@reservation, :start_date) %>
            </div>
            <%= field_error_tag(@reservation, :start_date) %>
        </div>

        <div class="w-1/2">
            <%= form.label :end_date, "End Date", class: "form-label" %>
            <div class="relative">
                <%= form.date_field :end_date, 
                    class: input_class(@reservation, :end_date), 
                    value: params[:end_date] || @reservation.end_date || Date.today,
                    data: { room_selector_target: "endDateField" } %>
                <%= error_icon(@reservation, :end_date) %>
            </div>
            <%= field_error_tag(@reservation, :end_date) %>
        </div>
    </div>
    <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
            <%= form.label :start_time, "Start Time", class: "form-label" %>
            <div class="relative">
                <%= form.time_field :start_time, 
                    class: input_class(@reservation, :start_time), 
                    value: params[:start_time] || @reservation.start_time,
                    data: { room_selector_target: "startTimeField" } %>
                <%= error_icon(@reservation, :start_time) %>
            </div>
            <%= field_error_tag(@reservation, :start_time) %>
        </div>

        <div class="w-1/2">
            <%= form.label :end_time, "End Time", class: "form-label" %>
            <div class="relative">
                <%= form.time_field :end_time, 
                    class: input_class(@reservation, :end_time), 
                    value: params[:end_time] || @reservation.end_time,
                    data: { room_selector_target: "endTimeField" } %>
                <%= error_icon(@reservation, :end_time) %>
            </div>
            <%= field_error_tag(@reservation, :end_time) %>
        </div>
    </div>
    <div class="mb-4">
        <%= form.label :description, "Reservation Description", class: "form-label" %>
        <div class="relative">
            <%= form.text_area :description, 
                class: "form-input w-full min-h-[42px] resize-none overflow-hidden", 
                placeholder: "Enter meeting purpose of...", 
                data: { 
                    room_selector_target: "descriptionField",
                    controller: "auto-height",
                    action: "input->auto-height#adjustHeight"
                } %>
            <%= error_icon(@reservation, :description) %>
        </div>
        <%= field_error_tag(@reservation, :description) %>
    </div>
</div>