<div class="max-w-4xl mx-auto rounded-md gap-2 bg-white p-6 dark:bg-slate-800 dark:text-white">
    <%= render "shared/typography", heading: @room.persisted? ? "Update Room" : "Create Room" %>
    
    <%= form_with(model: @room, url: @room.persisted? ? admin_room_path(@room) : admin_rooms_path, method: @room.persisted? ? :patch : :post, local: true, html: { class: "space-y-6", multipart: true }) do |f| %>
        <%= error_messages(@room) if @room.errors.any? %>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-4 gap-4">
            <div class="form-group ">
                <%= f.label :name, "Room Name", class: "form-label" %>
                <div class="relative">
                    <%= f.text_field :name, class: input_class(@room, :name), placeholder: "Enter room name" %>
                    <%= error_icon(@room, :name) %>
                </div>
                <%= field_error_tag(@room, :name) %>
            </div>
            <div class="form-group sm:col-span-2">
                <%= f.label :description, "Room Description", class: "form-label" %>
                <div class="relative">
                    <%= f.text_area :description, class: "form-input min-h-[42px] overflow-hidden", 
                        placeholder: "Enter room description",
                        data: {
                            controller: "auto-resize",
                            action: "input->auto-resize#resize"
                        } %>
                    <%= error_icon(@room, :description) %>
                </div>
                <%= field_error_tag(@room, :description) %>
            </div>

            <div class="form-group">
                <%= f.label :capacity_min, "Minimum Capacity", class: "form-label" %>
                <div class="relative">
                    <%= f.number_field :capacity_min, class: input_class(@room, :capacity_min), placeholder: "Min capacity" %>
                    <%= error_icon(@room, :capacity_min) %>
                </div>
                <%= field_error_tag(@room, :capacity_min) %>
            </div>

            <div class="form-group">
                <%= f.label :capacity_max, "Maximum Capacity", class: "form-label" %>
                <div class="relative">
                    <%= f.number_field :capacity_max, class: input_class(@room, :capacity_max), placeholder: "Max capacity" %>
                    <%= error_icon(@room, :capacity_max) %>
                </div>
                <%= field_error_tag(@room, :capacity_max) %>
            </div>
        </div>

        <div class="pt-6 border-t border-neutral-200 dark:border-neutral-700">
            <%= render "shared/typography", sub_heading: "Room Images" %>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">Upload images of your room. Maximum 4 images allowed.</p>
        </div>
        <div data-controller="image-upload" data-image-upload-max-files-value="4">
            <div class="mb-4 flex flex-col gap-4">
                <%= render "shared/typography", body: "Current Images" %>
                <div class="flex flex-col gap-4" id="old-images">
                    <% if @room.persisted? && @room.images.attached? %>
                        <% @room.images.each do |image| %>
                        <div class="relative aspect-[16/9] rounded-lg overflow-hidden" data-image-upload-target="field">
                            <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('<%= url_for(image) %>');"></div>

                            <button type="button" class="absolute top-2 right-2 z-10 text-red-500 hover:text-red-600"
                                data-action="click->image-upload#removeImage"
                                data-image-id="<%= image.id %>">
                            <%= icon('trash', class: 'size-5') %>
                            </button>
                        </div>
                        <% end %>
                    <% else %>
                        <p class="text-sm text-gray-400">No images yet</p>
                    <% end %>
                </div>
            </div>

            <div class="mb-4 flex flex-col gap-4">
                <%= render "shared/typography", body: "New Uploads" %>
                <div id="image-upload-container" data-image-upload-target="container" class="flex flex-col gap-4"></div>
                <%= field_error_tag(@room, :images) %>
            </div>

            <button type="button" class="btn btn-secondary mt-6 flex items-center gap-2"
                data-action="click->image-upload#addField">
                <%= icon('plus', class: 'size-4', variant: :solid) %>
                <span>Add Image</span>
            </button>
        </div>

        <template id="trash-icon-template">
            <%= icon('trash', class: 'size-5') %>
        </template>

        <template id="upload-icon-template">
            <%= icon('arrow-up-circle', class: 'size-5', variant: :solid) %>
        </template>

        <div class="pt-6 border-t border-neutral-200 dark:border-neutral-700">
            <%= render "shared/typography", sub_heading: "Room Amenities" %>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">Add amenities available in this room.</p>
        </div>

        <div data-controller="room-amenities">
            <div data-room-amenities-target="container" class="flex flex-col gap-4">
                <%= f.fields_for :room_amenities do |amenity_form| %>
                    <div class="relative amenity-fields">
                        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-2">
                            <div class="form-group">
                                <%= amenity_form.label :amenity_name, "Amenity Name", class: "form-label" %>
                                <div class="relative">
                                    <%= amenity_form.text_field :amenity_name, class: input_class(amenity_form.object, :amenity_name), placeholder: "Enter amenity name" %>
                                    <%= error_icon(amenity_form.object, :amenity_name) %>
                                </div>
                                <%= field_error_tag(amenity_form.object, :amenity_name) %>
                            </div>

                            <div class="form-group">
                                <%= amenity_form.label :quantity, "Quantity", class: "form-label" %>
                                <div class="relative flex items-center gap-2">
                                    <%= amenity_form.number_field :quantity, class: input_class(amenity_form.object, :quantity), placeholder: "Enter quantity" %>
                                    <%= error_icon(amenity_form.object, :quantity) %>
                                   <button type="button"
                                        class="text-red-500 hover:text-red-600"
                                        data-action="click->room-amenities#removeField">
                                        <%= icon('trash', class: 'size-5') %>
                                    </button>
                                </div>
                                <%= field_error_tag(amenity_form.object, :quantity) %>
                            </div>
                        </div>
                        <%= amenity_form.hidden_field :_destroy, class: "amenity-destroy-flag" %>
                    </div>
                <% end %>
            </div>
            <button type="button" class="btn btn-secondary mt-2 flex items-center gap-2" data-action="click->room-amenities#addField">
                <%= icon('plus', class: 'size-3', variant: :solid) %>
                <span> Amenity</span>
            </button>
        </div>

        <div class="flex items-center justify-end space-x-4 pt-6 border-t border-neutral-200 dark:border-neutral-700">
            <%= link_to "Cancel", admin_rooms_path, class: "btn btn-white" %>
            <%= f.submit @room.persisted? ? "Update Room" : "Create Room", class: "btn btn-primary", data: { disable_with: "Saving..." } %>
        </div>
    <% end %>
</div>