<div class="container mx-auto p-6">
    <div class="flex h-14 justify-between items-center">
        <%= render "shared/typography", heading: "My Reservation" %>
    </div>
    <div class="flex flex-col gap-6">
        <div class="flex flex-col rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white shadow-md w-full">
            <div class="flex justify-between items-center mb-2">
                <%= render "shared/typography", sub_heading: "Upcoming Reservations" %>
                <%= btn_link_to("New Reservation", new_admin_reservation_path, btn_class: "btn-primary", icon_name: "plus", variant: :solid) %>
            </div>
            <%= render "admin/reservations/component/table", reservation: @upcoming_reservations, upcoming: true %>
            <div class="mt-4">
                <%= form_with(url: admin_reservations_path, method: :get, local: true) do |f| %>
                    <%= render "shared/pagination", 
                        collection: @upcoming_reservations, 
                        prefix: "upcoming", 
                        path_helper: ->(page, params) { admin_reservations_path(params) },
                        show_per_page: true,
                        per_page_options: [5, 10, 25, 50, 100] %>
                <% end %>
            </div>
        </div>
        <div class="flex flex-col rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white shadow-md w-full">
            <div class="flex justify-between items-center mb-2">
                <%= render "shared/typography", sub_heading: "Past Reservations" %>
            </div>
            <%= render "admin/reservations/component/table", reservation: @past_reservations, upcoming: false %>
            <div class="mt-4">
                <%= form_with(url: admin_reservations_path, method: :get, local: true) do |f| %>
                    <%= render "shared/pagination", 
                        collection: @past_reservations, 
                        prefix: "past", 
                        path_helper: ->(page, params) { admin_reservations_path(params) },
                        show_per_page: true,
                        per_page_options: [5, 10, 25, 50, 100] %>
                <% end %>
            </div>
        </div>
    </div>
</div>