<div class="reservation-details">
    <h1 class="text-xl font-semibold">Reservation Details</h1>

    <div class="mb-4">
        <%= label_tag :room_id, "Room" %>
        <p><%= @reservation.room.name %></p>
    </div>

    <div class="mb-4">
        <%= label_tag :date, "Reservation Date" %>
        <p><%= @reservation.date.strftime("%B %d, %Y") %></p>
    </div>

    <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
            <%= label_tag :start_time, "Start Time" %>
            <p><%= @reservation.start_time.strftime("%I:%M %p") %></p>
        </div>

        <div class="w-1/2">
            <%= label_tag :end_time, "End Time" %>
            <p><%= @reservation.end_time.strftime("%I:%M %p") %></p>
        </div>
    </div>

    <div class="mb-4">
        <%= label_tag :reservation_members, "Members" %>
        <ul>
        <% @reservation.members.each do |user| %>
            <li><%= user.email %></li>
        <% end %>
        </ul>
    </div>

    <div class="mb-4">
        <%= label_tag :status, "Status" %>
        <span class="px-2 py-1 rounded text-white 
        <%= @reservation.status == "pending" ? 'bg-yellow-500' : 
            @reservation.status == "checked_in" ? 'bg-green-500' : 
            @reservation.status == "checked_out" ? 'bg-gray-500' : 
            @reservation.status == "canceled" ? 'bg-red-500' : 
            @reservation.status == "expired" ? 'bg-purple-500' : 'bg-blue-500' %>">
        <%= @reservation.status.capitalize %>
        </span>
    </div>

    <div class="flex space-x-2">
        <%= link_to "Back", admin_rooms_path, class: "bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg" %>
        <%= link_to "Edit", edit_admin_room_reservation_path(@reservation.room, @reservation), class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg" %>
    </div>
</div>
