<div class="w-full lg:w-1/3 flex flex-col bg-white gap-4 rounded-lg p-4 shadow-md h-full">
    <%= render "shared/typography", sub_heading: "Booking Summary" %>
    <div class="flex flex-col" data-room-selector-target="bookingSummary">
        <div class="mb-2 flex justify-between">
            <strong>Room:</strong>
            <span id="selected-room-name" class="text-sm text-gray-500 dark:text-gray-500" ><%= @room ? @room.name : 'Please select room' %></span>
        </div>
        <div class="mb-2 flex justify-between">
            <strong>Date:</strong>
            <div class="text-sm text-gray-500 dark:text-gray-500">
                <span id="selected-start-date" data-start-date="<%= format_datetime(@reservation.start_date) %>">
                <%= format_datetime(@reservation.start_date) if @reservation.start_date.present? %>
                </span>
                <span id="dash-date">-</span>
                <span id="selected-end-date" data-end-date="<%= format_datetime(@reservation.end_date) %>">
                <%= format_datetime(@reservation.end_date) if @reservation.end_date.present? %>
                </span>
            </div>
        </div>

        <div class="mb-2 flex justify-between">
            <strong>Time:</strong>
            <div class="text-sm text-gray-500 dark:text-gray-500">
                <span id="selected-start-time" data-start-time="<%= format_datetime(@reservation.start_time) %>">
                <%= format_datetime(@reservation.start_time) if @reservation.start_time.present? %>
                </span>
                <span id="dash-time">-</span>
                <span id="selected-end-time" data-end-time="<%= format_datetime(@reservation.end_time) %>">
                <%= format_datetime(@reservation.end_time) if @reservation.end_time.present? %>
                </span>
            </div>
        </div>

        <div class="mb-2 flex flex-wrap gap-1">
            <strong>Description:</strong>
            <span
                id="selected-description"
                class="break-all whitespace-pre-line"
                style="word-break: break-word; overflow-wrap: break-word;"
                >
                <%= @reservation.description %>
            </span>
        </div>
        <div class="mb-4" data-controller="reservation-members">
            <%= form.label :reservation_members, "Invite Members", class: "form-label" %>
            <div id="reservation-members-container">
                <div class="relative mb-2" data-reservation-members-target="field">
                    <%= form.collection_select :member_ids, User.where.not(id: current_user.id), :id, :email, { prompt: "Select Members" }, class: "form-control", multiple: true, name: "reservation[member_ids][]" %>
                </div>
            </div>
        </div>
    </div>
    <%= form.submit @reservation.persisted? ? "Update Reservation" : "Create Reservation", class: "btn btn-primary" %>
</div>