<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white shadow-md md:w-[300px]">
    <div class="flex flex-col items-start gap-4">
        <div class="flex justify-between w-full items-center">
            <label for="<%= id %>-slider" class="text-gray-700">
                <%= render "shared/typography", sub_heading: label %>
            </label>
            <span class="text-sm text-gray-500 dark:text-gray-500">
                <%= params[field] || 1 %>
            </span>
        </div>
        <input type="range" 
            id="<%= id %>-slider" 
            name="<%= field %>" 
            min="0" 
            max="<%= maximum || params[field] || 1 %>" 
            step="1" 
            class="accent-primary-500 bg-transparent rounded-lg cursor-pointer w-full" 
            value="<%= params[field] || 1 %>" 
            onchange="this.form.submit(); changeSliderStyle(this);" />

        <div class="flex justify-between text-sm text-gray-500 dark:text-gray-500 w-full">
            <span> 0 </span>
            <span><%= maximum || 1 %> <%= unit %></span>
        </div>           
    </div>
</div>
