<div  class="form-group" data-controller="room-selector">
    <div class="flex justify-between items-center flex-wrap">
        <%= render "shared/typography", heading: @reservation.persisted? ? "Edit Reservation" : "New Reservation" %>
        <div class="w-full lg:w-1/2 flex-shrink-0">
            <%= form_with(url: @reservation.persisted? ? edit_reservation_path(@reservation.slug) : new_reservation_path, method: :get, local: true, data: { room_selector_target: "filterForm" }) do |filter_form| %>
                <%= filter_form.hidden_field :start_date, value: params[:start_date], data: { action: "input->room-selector#syncToFilterForm", room_selector_target: "startDateFilter" } %>
                <%= filter_form.hidden_field :end_date, value: params[:end_date], data: { action: "input->room-selector#syncToFilterForm", room_selector_target: "endDateFilter" } %>
                <%= filter_form.hidden_field :start_time, value: params[:start_time], data: { action: "input->room-selector#syncToFilterForm", room_selector_target: "startTimeFilter" } %>
                <%= filter_form.hidden_field :end_time, value: params[:end_time], data: { action: "input->room-selector#syncToFilterForm", room_selector_target: "endTimeFilter" } %>
                <%= filter_form.hidden_field :room_id, value: @reservation.room_id || params[:room_id] || @room&.id, data: { room_selector_target: "roomIdFilter" } %>
                <%= render "shared/search_input", form: filter_form, field: :name, value: params[:name], placeholder: "Search room by name..." %>
            <% end %>
        </div>
    </div>
    <div class="form-group flex flex-col gap-4">
        <%= form_with(model: @reservation, url: @reservation.persisted? ? reservation_path(@reservation) : reservations_path, method: @reservation.persisted? ? :patch : :post, local: true, data: { room_selector_target: "reservationForm" }) do |form| %>
            <div class="flex w-full gap-4 flex-wrap lg:flex-nowrap">
                <div class="w-full lg:w-2/3 flex flex-col gap-4">
                    <%= render "user/reservations/component/inputs", form: form%>
                    <div class="flex flex-col bg-white gap-2 w-full h-auto rounded-lg border p-4 shadow-md">
                        <div class="flex justify-between items-center">
                            <%= render "shared/typography", sub_heading: "Available Rooms" %>
                        </div>
                        <div class="flex flex-col gap-2">
                            <%= render "user/reservations/component/room_list", rooms: @rooms%>
                            <%= render "shared/pagination", 
                                collection: @rooms, 
                                prefix: "room", 
                                path_helper: ->(page, params) { @reservation.persisted? ? edit_reservation_path(@reservation.slug) : new_reservation_path(params) },
                                show_per_page: true,
                                per_page_options: [5, 10, 25, 50, 100] %>
                        </div>
                    </div>
                </div>
                <%= render "user/reservations/component/booking_summary", form: form%>
            </div>
        <% end %> 
    </div>
</div>