<div class="form-group">
    <%= form_with(model: @reservation, url: @reservation.persisted? ? reservation_path(@reservation) : reservations_path, method: @reservation.persisted? ? :patch : :post, local: true) do |f| %>
        <%= error_messages(@reservation) if @reservation.errors.any? %>
        

        <div class="mb-4" data-controller="reservation-members">
            <%= f.label :reservation_members, "Add Members", class: "form-label" %>
            <div id="reservation-members-container">
                <div class="relative mb-2" data-reservation-members-target="field">
                    <%= f.collection_select :member_ids, User.where.not(id: current_user.id), :id, :email, { prompt: "Select Members" }, class: "form-control", multiple: true, name: "reservation[member_ids][]" %>
                </div>
            </div>
            <p class="text-sm text-gray-500 mt-2">Hold CTRL (Windows) or CMD (Mac) to select multiple users.</p>
        </div>

        <div class="flex space-x-2">
            <%= f.submit @reservation.persisted? ? "Update Reservation" : "Create Reservation", class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg" %>
            <%= link_to "Cancel", reservations_path, class: "bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg" %>
        </div>

    <% end %>
</div>
<%= form_with(url: new_reservation_path, method: :get, local: true) do |filter_form| %>
    <div class="w-full md:w-1/2 flex-shrink-0">
        <%= render "shared/search_input", form: filter_form, field: :name, value: params[:name], placeholder: "Search room by name..." %>
    </div>
<% end %>
<div class="form-group flex flex-col gap-4">
    <%= form_with(model: @reservation, url: @reservation.persisted? ? reservation_path(@reservation) : reservations_path, method: @reservation.persisted? ? :patch : :post, local: true, data: { controller: "room-selector" }) do |form| %>
        <div class="flex w-full gap-4 flex-wrap lg:flex-nowrap">
            <div class="w-2/3 flex flex-col gap-4">
                <%= render "user/reservations/component/inputs", form: form%>
                <div class="flex flex-col bg-white gap-2 w-full h-auto rounded-lg border p-4 shadow-md">
                    <div class="flex justify-between items-center">
                        <%= render "shared/typography", sub_heading: "Available Rooms" %>
                    </div>
                    <div class="flex flex-col">
                        <%= render "user/reservations/component/room_list", rooms: @rooms%>
                    </div>
                </div>
            </div>
            <%= render "user/reservations/component/booking_summary", form: form%>
        </div>
    <% end %> 
</div>