<div class="form-group">
    <%= form_with(model: @amenity, url: @amenity.persisted? ? admin_room_room_amenity_path(@room, @amenity) : admin_room_room_amenities_path(@room), local: true) do |f| %>

    <%= error_messages(@amenity) if @room.errors.any? %>

    <div class="mb-4">
        <%= f.label :amenity_name, "Amenity Name", class: "block font-medium text-gray-700" %>
        <div class="relative">
        <%= f.text_field :amenity_name, class: input_class(@amenity, :amenity_name, "w-full border-gray-300 rounded-md p-2 shadow-sm focus:ring focus:ring-blue-300"), placeholder: "Enter amenity name" %>
        <%= error_icon(@amenity, :amenity_name) %>
        <%= field_error_tag(@amenity, :amenity_name) %>
        </div>
    </div>

    <div class="mb-4">
        <%= f.label :quantity, "Quantity", class: "block font-medium text-gray-700" %>
        <div class="relative">
        <%= f.number_field :quantity, class: input_class(@amenity, :quantity, "w-full border-gray-300 rounded-md p-2 shadow-sm focus:ring focus:ring-blue-300"), placeholder: "Enter quantity" %>
        <%= error_icon(@amenity, :quantity) %>
        <%= field_error_tag(@amenity, :quantity) %>
        </div>
    </div>

    <div class="flex space-x-2">
        <%= f.submit @amenity.persisted? ? "Update Amenity" : "Create Amenity", class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg" %>
        <%= link_to "Cancel", admin_room_room_amenities_path(@room), class: "bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg" %>
    </div>

    <% end %>
</div>
