<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Roomify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: asset_path("roomify/site.webmanifest") %>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path('roomify/favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= asset_path('roomify/logo.svg') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('roomify/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('roomify/favicon-16x16.png') %>">
    
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('roomify/apple-touch-icon.png') %>">
    
    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="<%= asset_path('roomify/android-chrome-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="512x512" href="<%= asset_path('roomify/android-chrome-512x512.png') %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= railsui_head %>
  </head>

  <body class="bg-gray-100 dark:bg-gray-800 min-h-screen flex flex-col">
    <%= render "nav" %>
    <%= render 'breadcrumb' %>
    <div class="flex flex-1">
      <div class="flex-1">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div>
    <%= railsui_launcher if Rails.env.development? %>
  </body>
</html>
