<div data-controller="railsui-modal railsui-dropdown" class="relative inline-block text-center" onclick="event.stopPropagation();">
    <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="btn btn-light inline-flex items-center h-[38px]">
        <%= icon "ellipsis-vertical", :variant => :solid, class: "size-5" %>
    </button>
    <div
    class="hidden transition transform origin-top-left absolute right-0 top-10 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 md:w-[200px] w-full z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 md:text-sm text-base font-medium text-slate-600 dark:text-slate-200 divide-y dark:divide-slate-500/75"
    data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
    onclick="event.stopPropagation();"
    >
        <div role="none" class="py-1">
            <%= dropdown_item("calendar", "Booking", 
                new_admin_reservation_path(
                    room_id: room.id, 
                    start_date: params[:start_date], 
                    end_date: params[:end_date], 
                    start_time: params[:start_time], 
                    end_time: params[:end_time]
                ),
                data_testid: "booking-room"
            ) %>
        </div>
        <div role="none" class="pb-1">
            <%= dropdown_item("pencil-square", "Edit", edit_admin_room_path(room), data_testid: "edit-room") %>
            <%= dropdown_item("eye", "Show", admin_room_path(room), data_testid: "show-room") %>
        </div>
        <div role="none" class="pt-1 text-red-600">
            <button class="w-full flex items-center gap-4 px-3 py-2 text-sm text-red-600 hover:bg-red-50 dark:hover:bg-red-500/10" 
                    data-action="click->railsui-dropdown#hide click->railsui-modal#open">
                <%= icon "trash", class: "size-5" %>
                Delete 
            </button>
        </div>
    </div>

     <%= render "shared/delete_modal", 
        title: "Delete Room",
        message: "Are you sure you want to delete this #{room.name} room? This action cannot be undone.",
        path: admin_room_path(room),
        action_label: "Delete"
    %>
</div> 